<ion-header>
    <ion-navbar>
        <ion-title>
            Route Planner
        </ion-title>
    </ion-navbar>

    <div class="route-form" ion-fixed *ngIf="showInputs">
        <div class="container">
            <div class="route-label col">
                <img src="assets/imgs/route-label-icon.png" />
            </div>

            <div class="route-to-from col">
                <ion-searchbar id="location-start" type="text" placeholder="Starting point" (keyup)="onLocationSearchKeyUp($event, 'start')" ngModel="{{startLocation}}"></ion-searchbar>
                <ion-searchbar id="location-end" type="text" placeholder="Destination" (keyup)="onLocationSearchKeyUp($event, 'end')" ngModel="{{endLocation}}"></ion-searchbar>
            </div>

            <div class="swap col" (click)="swapLocations()">
                <img src="assets/imgs/swap-icon.svg" />
            </div>
        </div>
    </div>

</ion-header>

<ion-content>
    <offline-alert></offline-alert>

    <div class="map" google-map #map></div>

    <ion-spinner name="crescent" class="awaiting-draw-spinner" [hidden]="!awaitingDraw"></ion-spinner>

    <div>
        <ul id="view-toggle">
            <li [ngClass]="{selected: current_map_view_type === map.MAP_TYPES.ROAD}" (click)="displayRoadView()">Map</li>
            <li [ngClass]="{selected: current_map_view_type === map.MAP_TYPES.SATELLITE}" (click)="displaySatelliteView()">Satellite</li>
            <li [ngClass]="{selected: current_map_view_type === map.MAP_TYPES.HYBRID}" (click)="displayHybridView()">Hybrid</li>
        </ul>
    </div>

    <div class="map-hgv-checkbox checkbox cf" *ngIf="showHGVFilter">
        <input type="checkbox" id="hgv" name="hgv" value="true" [(ngModel)]="hgvOnly" (change)="onHgvOnlyChange()" />
        <span class="checkmark"></span>
        <label for="save">HGV COMPATIBLE SITES ONLY</label>
    </div>

    <button class="map-center-nav" (click)="onCentreClick()">
        <img src="assets/imgs/target-icon.svg" />
    </button>

    <div class="locations" *ngIf="showLocations">
        <ion-list>
            <button ion-item (click)="confirmAddress(searchResult, currentlyEditing)" *ngFor="let searchResult of searchResults">
                <div class="item-title">{{searchResult.name}}</div>
                <div class="item-meta"><span>{{searchResult.address}}</span></div>
            </button>
        </ion-list>
    </div>

</ion-content>
