page-route-planner {
    .scroll-content {
        @media (min-width: $medium) {
            @include show-scroll(hidden);
        }
    }

    #view-toggle {
        top: 142px;
    }

    .route-form {
        background-color: rgba(80, 80, 80, 0.8);
        padding: 16px;
        width: 100%;

        .container {
            display: flex;
            flex-direction: row;

            .col {
                padding: 0;
            }

            .route-label {
                flex-basis: 10px;
                flex-grow: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2px;

                img {
                    width: 8px;
                }
            }

            .route-to-from {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                padding: 0 16px;

                input:first-child {
                    margin-bottom: em(16);
                }

                input {
                    padding: 10px 16px 9px 16px;
                    font-size: 12px;
                    font-family: $font-primary;
                    color: #888;
                    border-radius: 4px;
                    border: none;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
                }
            }

            .swap {
                display: flex;
                align-items: flex-end;
                margin-bottom: 9px;
                flex-basis: 13px;
            }
        }
    }

    .locations {
       position: absolute;
        background: #FFFFFF;
        height:100%;
        width: 100%;

        top: 129px;

    }

    .map-center-nav {
        align-items: center;
        background: #FFFFFF;
        border-radius: 50%;
        bottom: 16px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        display: flex;
        height: 44px;
        justify-content: center;
        position: absolute;
        right: 16px;
        width: 44px;
    }

    .map-fab-nav {
        align-items: center;
        background: #FFFFFF;
        border-radius: 50%;
        bottom: 16px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        display: flex;
        height: 44px;
        justify-content: center;
        position: absolute;
        right: 16px;
        width: 44px;
    }

    .map-fab-swap {
        align-items: center;
        background: #FFFFFF;
        border-radius: 50%;
        bottom: 16px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        display: flex;
        height: 44px;
        justify-content: center;
        position: absolute;
        right: 66px;
        width: 44px;
    }

    ion-searchbar {
        display: flex;
        align-items: center;

        .searchbar-input {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50) !important;
            border-radius: 4px !important;
            height: 32px !important;
            padding: 6px 32px !important;
            font-size: 13px !important;
            color: #888888 !important;
            font-family: $font-primary;
        }

        .searchbar-search-icon {
            left: 8px !important;
            top: 8px !important;
            background-image: url('#{$img-path}/map-marker-icon.svg') !important;
            background-size: 10px !important;
        }

        .searchbar-clear-icon {
            right: 8px !important;
        }
    }

    .awaiting-draw-spinner {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}
