<ion-header>
    <ion-navbar>
        <ion-title>
            Sites Nearby
        </ion-title>
    </ion-navbar>
    <ion-searchbar placeholder="Enter a starting address, city or postcode" (keyup)="onLocationSearchKeyUp($event)" ngModel="{{searchLocation}}"></ion-searchbar>
</ion-header>

<ion-content>

    <div class="map" google-map #map></div>

    <ion-spinner name="crescent" class="awaiting-draw-spinner" [hidden]="!awaitingDraw"></ion-spinner>

    <div>
        <ul id="view-toggle">
            <li [ngClass]="{selected: current_map_view_type === map.MAP_TYPES.ROAD}" (click)="displayRoadView()">Map</li>
            <li [ngClass]="{selected: current_map_view_type === map.MAP_TYPES.SATELLITE}" (click)="displaySatelliteView()">Satellite</li>
            <li [ngClass]="{selected: current_map_view_type === map.MAP_TYPES.HYBRID}" (click)="displayHybridView()">Hybrid</li>
        </ul>
    </div>

    <div class="map-hgv-checkbox checkbox cf">
        <input type="checkbox" id="hgv" name="hgv" value="true" [(ngModel)]="hgvOnly" (change)="onHgvOnlyChange()" />
        <span class="checkmark"></span>
        <label for="save">HGV COMPATIBLE SITES ONLY</label>
    </div>

    <button class="map-fab" (click)="onTargetClick()">
        <img src="assets/imgs/target-icon.svg" />
    </button>

    <div class="locations" *ngIf="showLocations">
        <ion-list>
            <button ion-item (click)="selectPlaceSuggestion(searchResult.name)" *ngFor="let searchResult of searchResults">
                <div class="item-title">{{searchResult.name}}</div>
                <div class="item-meta"><span>{{searchResult.address}}</span></div>
            </button>
        </ion-list>
    </div>

    <offline-alert></offline-alert>
</ion-content>
