page-sites-nearby {
    .scroll-content {
        @media (min-width: $small) {
            @include show-scroll(hidden);
        }
    }

    .awaiting-draw-spinner {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .map-points {
        @include full-screen-background('/map-sample-points.jpg');

        .point {
            width: 40px;
            height: 40px;
            background-color: #000;
            position: absolute;
            left: 47%;
            bottom: 30%;
            border-radius: 100%;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: #fff;
            font-weight: bold;
            font-family: $font-secondary;
        }
    }

    .location-card {
        opacity: 0.9;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.30);
        padding: em(16);
        bottom: 0;
        margin-top: 6px;
        font-family: $font-primary;
        width: 100%;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;

        .title {
            font-size: 18px;
            color: #000;
            font-weight: bold;
            margin-bottom: 7px;
        }

        address {
            font-style: normal;
            margin-top: 7px;
            font-size: 14px;
        }

        .close-modal {
            position: absolute;
            right: 16px;
            top: 16px;
        }

        .more-information {
            transition: none 0s ease 0s;
            height: 32px;
            text-align: left;
            position: absolute;
            right: em(16);
            bottom: em(16);
            background-color: #000;
            display: flex;
            align-items: center;
            padding: 8px 10px;
            font-size: 12px;
            line-height: 1;
            color: #fff;

            img {
                margin-left: 10px;
            }
        }
    }

    .map-fab {
        align-items: center;
        background: #FFFFFF;
        border-radius: 50%;
        bottom: 16px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        display: flex;
        height: 44px;
        justify-content: center;
        position: absolute;
        right: 16px;
        width: 44px;
    }

    .locations {
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        justify-content: center;
        position: absolute;
        width: 100%;
        top: -1px;
        height: 100%;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    ion-searchbar {
        background: rgba(80, 80, 80, 0.8) !important;
        display: flex;
        align-items: center;
        padding: 16px !important;

        .searchbar-input {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50) !important;
            border-radius: 4px !important;
            height: 32px !important;
            padding: 6px 32px !important;
            font-size: 13px !important;
            color: #888888 !important;
            font-family: $font-primary;
        }

        .searchbar-search-icon {
            left: 8px !important;
            top: 8px !important;
            background-image: url('#{$img-path}/map-marker-icon.svg') !important;
            background-size: 10px !important;
        }

        .searchbar-clear-icon {
            right: 8px !important;
        }
    }
}
