<ion-content>
    <div class="home full-background">
        <div class="page">
            <div class="page-body">
                <div class="logo">
                    <img src="assets/imgs/csc-logo.svg" />
                </div>
                <ul class="menu">
                    <li><button (click)="goToSitesNearby()"><img src="assets/imgs/arrow-icon.svg" />Sites Nearby</button></li>
                    <li><button (click)="goToRoutePlanner()"><img src="assets/imgs/route-planner.svg" /> Route Planner</button></li>
                    <li><button (click)="goToContactUs()"><img src=" assets/imgs/phone-icon.svg" />Contact Us</button></li>
                </ul>
            </div>
            <div class="page-footer">
                <div class="version" padding>
                    version {{ version }} ({{ build }})
                </div>
            </div>
        </div>
    </div>
</ion-content>
