page-home {
    .scroll-content {
        @include show-scroll(hidden);

        @media screen and (max-width: 900px) and (orientation: landscape) {
            @include show-scroll(scroll);
        }
    }

    .home {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .platform-ios & {
            padding-top: 20px;
        }

        @include full-screen-background('/home-background.jpg');

        @media screen and (max-width: 900px) and (orientation: landscape) {
            height: unset;
        }

        .logo {
            margin: 30px 0 30px 0;

            @media (min-width: $small) {
                margin: 60px 0;
            }
        }

        .menu {
            display: flex;
            flex-direction: column;
            list-style: none;
            width: 100%;
            margin-bottom: 0;
            padding: 0 16px;

            li {
                align-items: center;
                background-image: url('#{$img-path}/menu-background.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                color: #fff;
                display: flex;
                flex-shrink: 1;
                font-family: $font-secondary;
                font-size: 24px;
                font-weight: 600;
                height: 96px;
                justify-content: center;
                margin-bottom: 16px;

                img {
                    margin-right: em(10);
                }

                &:last-child {
                    margin-bottom: em(16);
                }

                button {
                    font-size: 24px;
                    font-weight: 600;
                    color: #fff;
                    background-color: Transparent;
                }
            }
        }
    }
}
