// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$img-path: "../assets/imgs";
$font-path: "../assets/fonts";


@font-face {
    font-family: 'SF Pro Display';
    src: url('#{$font-path}/SFProDisplay-Medium.woff2') format('woff2'),
    url('#{$font-path}/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('#{$font-path}/SFProDisplay-Regular.woff2') format('woff2'),
    url('#{$font-path}/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('#{$font-path}/SFProDisplay-Bold.woff2') format('woff2'),
    url('#{$font-path}/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('#{$font-path}/Raleway-Regular.woff2') format('woff2'),
    url('#{$font-path}/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font-path}/Raleway-SemiBold.woff2') format('woff2'),
    url('#{$font-path}/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font-path}/Raleway-Medium.woff2') format('woff2'),
    url('#{$font-path}/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


$font-primary: 'SF Pro Display';
$font-secondary: 'Raleway';

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$black: #000;
$white: #fff;
$primary: #505050;
$navy: #002135;
$grey: #979797;
$light-grey: #F9F9F9;
$red: #E50611;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

$small: "768px";
$medium: "992px";
$large: "1200px";


// Mixins
// --------------------------------------------------

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

@mixin show-scroll($value) {
    overflow-y: $value !important;
}

@mixin full-screen-background($value) {
    height: 100%;
    background-image: url('#{$img-path}#{$value}');
    background-size: cover;
    background-position: center;

}
