// http://ionicframework.com/docs/theming/



// 1.Buttons
// 2.HTML-Elements
// 3.Ionic-Elements
// 4.Custom-Classes
// 5.Animations

// 1.Buttons
// --------------------------------------------------

@mixin btn-primary($color) {
    background-color: $color;
    display: flex;
    text-align: center;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-family: $font-primary;
    text-decoration: none;
}


// 2.HTML-Elements
// --------------------------------------------------


// 3.Ionic-Elements
// --------------------------------------------------

ion-header {
    position: relative;

    ion-navbar {
        height: 56px;

        .toolbar-background {
            background-color: #000;
        }

        .toolbar-title {
            color: #fff;
            font-family: 'Raleway';
            font-size: 18px;
            color: #fff;
            text-align: center;
        }
    }

    .back-button {
        position: absolute;
        color: #fff;
        z-index: 1;
    }

    .toolbar-md {
        .ion-md-arrow-back:before {
            content: "";
            background-image: url('../assets/imgs/back-icon.svg');
            background-size: 16px !important;
            width: 25px;
            height: 25px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .back-button.show-back-button {
            left: 4px;
            margin-top: 2px;
        }
    }

    .toolbar-md,
    .toolbar-ios {
        min-height: 90px;
        padding: 30px 4px 4px 4px;
    }

    .toolbar-ios {
        .ion-ios-arrow-back:before {
            content: "";
            background-image: url('../assets/imgs/back-icon.svg');
            background-size: 16px !important;
            width: 25px;
            height: 25px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .back-button-text {
            display: none;
        }

        .back-button.show-back-button {
            left: 16px;
        }
    }
}

// 4.Custom-Classes
// --------------------------------------------------

.searchbar-ios {
    background: none;
    border:none;
    min-height: 48px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .page-body {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .page-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.version {
    font-family: $font-primary;
    font-size: em(12);
    font-weight: normal;
    color: #fff;
}

.locations {
    ion-list {
        padding: 0;

        .item {
            padding: 0 16px;
            border-top: 0 !important;
            border-bottom: 0 !important;

            .item-inner {
                padding-right: 0;
                border-bottom: 1px solid #979797;
                background-image: none;

                ion-label {
                    margin: 13px 16px 13px 16px;
                    white-space: normal;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-family: $font-primary;
                    color: #000;

                    .item-meta {
                        margin-left: 16px;
                        font-size: 14px;
                        color: #505050;

                        .country {
                            margin-left: 2px;
                        }
                    }
                }
            }
        }
    }
}

.checkbox {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    position: relative;
    user-select: none;

    input:checked~.checkmark {
        &:after {
            display: block;
        }
    }

    label {
        color: #000;
        display: block;
        font-family: $font-primary;
        font-size: 12px;
        padding-top: 2px;
        text-align: left;
        padding-left: 28px;
        font-weight: bold;
    }

    input {
        cursor: pointer;
        height: 24px;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .checkmark {
        border-radius: 2px;
        border: 1px solid #888888;
        height: 16px;
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        cursor: pointer;
        display: inline-block;
        background-color: #fff;

        &:after {
            content: '';
            display: none;
            width: 2px;
            height: 6px;
            /*Add a white border on the bottom and left, creating that 'L' */
            border: solid $primary;
            border-width: 0 2px 2px 0;
            /*Rotate the L 45 degrees to turn it into a checkmark*/
            transform: rotate(45deg);
            position: absolute;
            left: 5px;
            top: 3px;
        }
    }
}

.map {
    // @include full-screen-background('/map-sample-two.jpg');
    display: block;
    height: 100%;
    width: 100%;
}

.map-hgv-checkbox {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

#view-toggle {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    align-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        background-color: #ffffff;
        border: solid #eeeeee 1px;
        font-family: $font-primary;
        font-size: em(18);
        padding: 8px 18px;
        &.selected {
            font-weight: bold;
        }
    }
}


// 5.Animations
// --------------------------------------------------

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


@-webkit-keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}
