page-contact-us {
    .scroll-content {
        @media (orientation: portrait) and (min-height:599px) {
            @include show-scroll(hidden);
        }

        .scroll-content {
            @media (min-width: $small) {
                @include show-scroll(hidden);
            }
        }
    }

    .content {
        @include full-screen-background('/home-background.jpg');
    }

    .page-body {
        justify-content: flex-start !important;
        align-items: left !important;
        flex-shrink: 0;

        address {
            color: #fff;
            font-family: $font-primary;
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
            width: 100%;
            font-style: normal;
        }

        hr {
            display: block;
            margin: 26px auto;
            background-color: #fff;
            height: 1px;

            @media (min-width: $small) {
                height: 1px;
            }

            width: 100%;
        }

        .contact-methods {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;
            padding-bottom: 20px;

            .contact-method {
                @include btn-primary($red);
                margin-bottom: 8px;
                flex-shrink: 0;

                span {
                    margin-right: 5px;
                }
            }
        }
    }
}
