<ion-header>
    <ion-navbar>
        <ion-title>
            Contact Us
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="page" padding>
        <div class="page-body">
            <address>
                <strong>CSC Group</strong> <br>
                Unit 7 Oriel Hub <br>
                Finnabair Business Park <br>
                Dundalk <br>
                Co Louth <br>
                <div class="contact-methods">
                    <a class="contact-method" href="tel:+353429429512"><span>ROI:</span> +353(0)42 9429512</a>
                </div>
            </address>
            <hr>
            <address>
                <strong>CSC Group</strong> <br>
                Titanic Suites <br>
                55-59 Adelaide Street <br>
                Belfast <br>
                BT2 8FE <br>
            </address>
            <div class="contact-methods">
                <a class="contact-method" href="tel:+442838842832"><span>Tel:</span> +44(0)2895 582052</a>
                <a class="contact-method" href="mailto:info@cscfuelcards.com"><span>Email:</span> info@cscfuelcards.com</a>
            </div>
        </div>
    </div>
</ion-content>
