page-site-single {
    .scroll-content {
        @media (min-width: $small) {
            @include show-scroll(hidden);
        }
    }

    .site-details {
        display: flex;
        flex-direction: column;
        height: 100%;

        .site-header {
            background-color: #fff;
            display: flex;
            flex-direction: row;
            padding: em(16) em(16) em(16) 0;
            font-family: $font-primary;
            align-items: center;

            .site-title {
                width: 75%;
                text-align: left;
                font-size: 18px;
                color: #000;
                font-weight: bold;
            }

            .site-id {
                text-align: right;
                width: 25%;
                font-size: 12px;
                font-weight: bold;
                color: #000;
            }
        }

        .wrapper {
            address {
                font-style: normal;
                font-size: 14px;
                font-family: $font-primary;
                color: #000;
                margin-bottom: 16px;
                width: 100%;
            }

            .site-meta {
                .item {
                    display: flex;
                    flex-direction: row;
                    font-size: 14px;
                    font-family: $font-primary;
                    color: #000;
                    margin-right: 5px;

                    .item-title {
                        font-weight: bold;
                        margin-right: 5px;
                    }
                }
            }

            .site-contact {
                margin: 17px 0;
            }

            hr {
                margin: 20px 0;
                background-color: #CACACA;
                height: 1px !important;
            }

            .tel {
                @include btn-primary(#000);
            }

            .directions {
                @include btn-primary($red);

                img {
                    width: 12px;
                    height: 12px;
                    margin-left: 14px;
                }
            }

            .set-waypoint {
                @include btn-primary($red);

                img {
                    width: 12px;
                    height: 12px;
                    margin-left: 14px;
                }
            }
        }

        .site-map {
            flex-grow: 1;
            min-height: 15em;
        }
    }
}
