<ion-header>
    <ion-navbar>
        <ion-title>
            Site Details
        </ion-title>
    </ion-navbar>
</ion-header>



<ion-content>
    <div class="site-details">
        <div class="site-map" google-map #map></div>
        <div class="wrapper" padding>
            <div class="site-header">
                <div class="site-title">
                    {{ site.name }}
                </div>
            </div>
            <address [innerHtml]="site.getAddressString('<br>')"></address>
            <div class="site-meta">
                <div class="item" [hidden]="!site.opening">
                    <div class="item-title">Open:</div>
                    <div class="item-value">{{ site.opening }}</div>
                </div>
                <div class="item">
                    <div class="item-title">HGV Compatble:</div>
                    <div class="item-value">{{ site.hgv ? 'Yes' : 'No' }}</div>
                </div>
                <div class="item" [hidden]="!site.band">
                    <div class="item-title">Band:</div>
                    <div class="item-value">{{ site.band }}</div>
                </div>
            </div>
            <!-- <hr [hidden]="!site.phone">
            <a class="tel site-contact" [href]="'tel:' + site.phone" [hidden]="!site.phone">Tel: {{ site.phone }}</a> -->
            <hr>
            <a class="directions site-contact" (click)="launchNativeNavigation()">Get Directions <img src="assets/imgs/pointer-icon.svg" /></a>
        </div>
    </div>
</ion-content>
